*
{
    margin: 0;
}

h1
{
    background-color: lightblue;
    padding-left: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}
aside
{
    background-color: burlywood;
    width: 450px;
    height: 630px;
    padding: 2%;
}

#wrapper
{
    position: absolute;
    left: 550px;
    top: 75px;
}

img
{
    height: 285px;
    margin-top: 97%;
    margin-left: 158%;

}